---
---
/*
media variables
*/

@import "color";
@import "body";
@import "grid";

/*
*{
  text-align: center;
}

.grid{

  .grid{
    border: .2em solid red;
  }

  *{
    background: #555;

    &:nth-child(odd){
      background: #999;
    }
  }
} */

.contact{
  padding: 3rem;
  min-height: 40vh;
  background-color: var(--dark-color);
  text-align: center;
  color: var(--light-color2);

  input,textarea{
    background-color: var(--dark-color2);
    color: var(--dark-color3);
    border: none;
    margin: 1em;
  }
  input{
    height: 4em;
    padding-right: 3em;
    padding-left: 3em;
  }

  
}

.fa{
  color: var(--light-color3);
  font-size: 1.7em;
}