---
---

@import "variables";
@import "mixins";
@import "color";
@import "body";
@import "pmb";
@import "grid";
@import "scrollbar";

.contact{
  min-height: 40vh;
  background-color: var(--dark-color);
  text-align: center;
  color: var(--light-color2);

  input,textarea{
    background-color: var(--dark-color2);
    color: var(--dark-color3);
    border: none;
  }
  input{
    height: 4rem;
  }

  textarea{
    resize: none;
  }

  button{
    background-color: var(--dark-color2);
    color: var(--light-color3);
    border: none;
  }

  .mInfo{
    grid-auto-rows: min-content;
  }

}

.fa{
  color: var(--light-color3);
  font-size: 1.7em;
}

hr{
  border-color: var(--dark-color3);
}

h2{
  font-size: 2.3em;
}