body, body *{
    padding: 0;
    margin: 0;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}

#backgroundimage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(4px);
}

#backgroundgradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(255,255,255,0.5), rgba(255,255,255,0.2),  rgba(0,0,0,0), rgba(0,0,0,0));
    background-size: cover;
}

#body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profileinfo{
    text-align: right;
    position: relative;
    left: 14.5vw;
    top: 2vh;
    font-family: 'Encode Sans Condensed', sans-serif;
    order: 1;
}

.flex{
    flex-direction: column;
    display: flex;
}

#company{
    opacity: 1;
    position: relative;
    top: 7vh;
    transition-property: transform,opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
#personal{
    position: relative;
    top: -5vh;
    left: 18vw;
    opacity: 0;
    /*transition: transform,opacity 300ms ease-in-out;*/
    transition-property: transform,opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#name{
    font-size: 2.8rem;
    font-weight: 400;
}

#occupation{
    font-size: 1.2rem;
    font-weight: 100;
}

#profilepic{
    background: url('../images/ZD.png');
    background-size: cover;
    height: 35vh;
    width: 35vh;
    border-radius: 100%;
    box-shadow: 0 0 15px black;
    order: 2;
    z-index: 5;
    transition: background 300ms ease-in-out;
}

#links{
    order: 3;
}

#menu{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-radius: 50vh;
    width: 0;
    height: 0;
    left: -18vw;
}

#menu #menuitem{
    /*display: none;*/
    position: relative;
}

#menuitem{
    padding: 1.7vw;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.7rem;
    background: white;
    box-shadow: 0 0 15px black;
}

#menuitem:nth-child(1){
    padding-left: 2rem;
    border-right: 2px solid #999;
    z-index: 3;
    transition: transform 300ms ease-in-out;
    left: -10vw;
}
#menuitem:nth-child(2){
    border-right: 2px solid #999;
    z-index: 2;
    transition: transform 300ms ease-in-out 50ms;
    left: -20vw;
}
#menuitem:nth-child(3){
    padding-right: 2rem;
    border-top-right-radius: 50vh;
    border-bottom-right-radius: 50vh;
    z-index: 1;
    transition: transform 300ms ease-in-out 100ms;
    left: -30vw;
}

#social{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    position: relative;
    left: -17.5vw;
    top: 19vh;
    /*opacity: 0;
    transition: opacity 300ms ease-in-out;*/
}

#social a{
    background: white;
    border-radius: 100%;
    padding: 1.3vw;
    box-shadow: 0 0 15px black;
    color: black;
}

#icon{
    font-size: 2rem;
}

#copy{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 100;
    color: #999;
    padding: 2vh 1.5vw;
}

#devmsg{
    display: none;
    position: fixed;
    width: 100vw;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    top: 85vh;
    text-align: center;
    color: red;
}

/*animations todo onToggle*/
#social a:hover{
    background: #161616;
    box-shadow: inset 0 0 15px black;
    color: #999;
}

#menuitem:hover{
    background: #161616;
    box-shadow: inset 0 0 15px black;
    color: #999;
}

#profilepic:hover{
    background: url('../images/photo.png');
    background-size: cover;
}

#profilepic:hover + #profileinfo #personal{
    opacity: 1;
    transform: translateX(-18vw);
}


#profilepic:hover + #profileinfo #company{
    opacity: 0;
    transform: translateX(18vw);
}

#profilepic:hover ~ #links #menu #menuitem{
    display: block;
    opacity: 0;
    animation: menu 300ms ease-in-out forwards;
}

#profilepic:hover ~ #links #menu #menuitem:nth-child(1){
    transform: translateX(10vw);
}
#profilepic:hover ~ #links #menu #menuitem:nth-child(2){
    transform: translateX(20vw);
}
#profilepic:hover ~ #links #menu #menuitem:nth-child(3){
    transform: translateX(30vw);
}

/*
#profilepic:hover ~ #links{
    opacity: 1;
} */

@keyframes menu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}