---
---

@import "variables";
@import "mixins";
@import "color";
@import "body";
@import "pmb";
@import "wh";
@import "grid";
@import "scrollbar";

.contact{
  min-height: 40vh;
  background-color: var(--dark-color);
  text-align: center;
  color: var(--light-color2);

  input,textarea{
    background-color: var(--dark-color2);
    color: var(--dark-color3);
    border: none;
  }
  input{
    height: 4rem;
  }

  textarea{
    resize: none;
  }

  .submit{
    background-color: var(--dark-color2);
    color: var(--light-color3);
    border: none;
  }

  .mInfo{
    grid-auto-rows: min-content;
  }

}

.fa{
  color: var(--light-color3);
  font-size: 1.7rem;
}

hr{
  border-color: var(--dark-color3);
}

h2{
  font-size: 2.3rem;
}

.footer{
  min-height: 5vh;
  background-color: var(--dark-color2);
  color: var(--light-color3);
  
}

.darktxt{
  color: var(--dark-color3);
}

.hidden{
  display: none;
}

.about{

  .card{
    background-color: var(--light-color);

    .photo{
      min-width: 20vw;
      min-height: 20vw;
      width: 30vh;
      height: 30vh;
      background-color: var(--dark-color2);
      margin: 0 auto;
      @include prefix_property(background-size, cover);
      background-repeat: no-repeat;
      background-position: center;
    }

    hr{
      border-color: var(--light-color3);
    }
  }

  .show:hover>.hidden, .show:active>.hidden{
    display: block;
  }
  .show:hover>.hidden.grid, .show:active>.hidden.grid{
    display: grid;
  }
}

.tx-c{
  text-align: center;
}

h3{
  margin: 0;
  font-size: 1.8rem;
}

small{
  color: var(--dark-color3);
}

.glass{
  background-color: rgba(22, 22, 22, 0.5);//TODO: for sure change the var declaration, ya know styling issues, this is --dark-color2
}

.portfolio{
  min-height: 40vh;

  .icon{
    color: var(--light-color3);
  }

  .tab{
    min-height: 30vh;

    .tabitem{
      background-color: var(--dark-color2);
    }
  }
}

.txv-c{
  display: flex;
  justify-content: center;
  align-content: center;
}

.tab-content{
  display: none;
}

.current{
  &.tabs{
    color: var(--accent-color-dark);
    border-color: var(--accent-color-dark);
  }
  &.tab-content{
    display: block;
  }
  &.tab-content.grid{
    display: grid;
  }
}


.pricing{
  min-height: 40vh;
  background-color: var(--dark-color);
  text-align: center;
  color: var(--light-color2);
  
  .tabs{
    font-size: 1.2rem;
  }
}

.bigi{
  font-size: 4.5rem;
  border-bottom: 0.1rem solid var(--light-color2);

  &:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}