---
layout: temp
title: "news"
permalink: /news/
pagination:
  enabled: true
  permalink: '/:num/'
---
{% for p in paginator.posts %}
  <a href="{{ p.url }}">{{ p.title }}, {{p.date | date_to_string }} | {{ p.content | truncatewords: 10 }}</a><br><br><br>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
