<div class="gc12 grid about glass p4">
  <div class="go3c8 gc12_sm-down grid card p3 pt6">
    <div class="gc12 photo mb4" style="background-image: url('{{site.data.about.photo}}');"></div><!--TODO: this clusterfuck < with actual photo bc not working on phones -->
    <div class="gc12">
      <div class="grid">
          <h3 class="gc12 tx-c mt2 mb1">{{site.data.about.name}}</h3>
          <small class="gc12 tx-c mb1">{{site.data.about.job}}</small>
      </div>
        <hr class="mx6">
    </div>
    <p class="gc12">{{site.data.about.aboutsmall}}</p>
    <div class="gc12 show">
      <p class="gc12 hidden">{{site.data.about.about}}<!--TODO: skills--></p>
      <hr class="mx6 mb2 mt2">
      <span class="txt">Show more</span>
    </div><!--TODO: show hide-->
  </div>
</div>
