<div class="contact gc12 grid">
  <div class="gc12">
    <h2>CONTACT</h2><hr>
  </div>
  <form class="gc10 grid" action="">
    <div class="gc6 grid mInfo"> <!--TODO: classWTF-->
      <span class="gc4">Name</span>
      <input class="gc8" type="text" name="" value="">
      <span class="gc4">Mail</span>
      <input class="gc8" type="text" name="" value="">
      <span class="gc4">Subject</span>
      <input class="gc8" type="text" name="" value="">
    </div>
    <div class="gc6 grid">
      <textarea class="gc12" name="name" rows="16" cols="30"></textarea>
      <button class="gc4" type="button" name="button">Send mail</button>
    </div>
  </form>
  <div class="gc2 grid">
    <!-- TODO: simplify the lower -->
    {% for entry in site.data.footer %}
      {% if entry.name == "Social" %}
        {% for social in entry.types %}
          <a class="gc12" href="{{social.url}}"><span class="{{social.icon}}"></span></a>
        {% endfor%}
      {% endif %}
    {% endfor %}
  </div>
</div>
