<footer class="container-fluid pb-3">
  <hr class="pt-3">
  <div class="row">
    <div class="col-md-4 offset-md-2 col-sm-12">
      <h3>&copy; <img src="/images/ZD.svg"  width="70" height="25" alt="Zuky Designs logo"> {{ site.author }}</h3>
      <small class="d-block mb-3 text-muted">ver.: {{ site.version }}</small>
    </div>
    {% for links in site.data.footer %}
    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
      <h5 class="d-none d-md-block">{{links.name}}</h5>
      <ul class="list-unstyled text-small d-none d-md-block">
        {% for p in links.types %}
        <li><a class="text-muted" href="{{ p.url }}">{{ p.name }}</a></li>
        {% endfor %}
      </ul>
      <div class="text-center d-md-none d-sm-block">
        <h5>{{links.name}}</h5>
        {% for p in links.types %}
        <a class="text-muted px-2" href="{{ p.url }}"><i class="{{ p.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</footer>
