<div class=" carousel slide carousel-fade" data-ride="carousel"><!--TODO <-this in CSS .fixed-top, style-> style="z-index:-1!important-->
  <div class="carousel-inner" style="height:25vh;display:flex;align-items:center;flex-wrap:wrap"><!--TODO <-this in CSS-->
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="/images/carousel/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 img-fluid" src="/images/carousel/1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 img-fluid" src="/images/carousel/1.jpg" alt="Third slide">
    </div>
  </div>
</div>

<!--<div style="height:200px;width:100%"></div> TODO get rid of this-->
