<div id="portfolio" class="portfolio glass gc12 grid p4">
  <div class="gc12 grid">
      {% for type in site.data.portfolio %}
        <i class="gc{{12 | divided_by: site.data.portfolio.size | ceil }} icon tx-c txv-c tabs {% if forloop.first %}current{% endif %} {{type.icon}} bigi m2 pb2" data-tab="{{type.name}}" aria-hidden="true"></i>
      {% endfor %}
  </div>

  {% for type in site.data.portfolio %}
    <div id="{{type.name}}" class="gc12 grid tab pt3 tab-content {% if forloop.first %}current{% endif %}">
        {% for entry in type.entries %}
            <div class="gc4 m1 tabitem tx-c txv-c">{{entry.name}}</div>
        {% endfor %}
    </div>
  {% endfor %}
</div>
