<div id="portfolio" class="portfolio glass gc12 grid p4">
  <div class="gc12 grid">
      <div class="gc4 icon tx-c txv-c tabs current" data-tab="web">web</div>
      <div class="gc4 icon tx-c txv-c tabs" data-tab="logo">logo</div>
      <div class="gc4 icon tx-c txv-c tabs" data-tab="graphic">graphic</div>
  </div>
  
  <div id="web" class="gc12 grid tab pt3 tab-content current">
    <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
    <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
    <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
    <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
  </div>
  <div id="logo" class="gc12 grid tab pt3 tab-content">
      <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
      <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
  </div>
  <div id="graphic" class="gc12 grid tab pt3 tab-content">
      <div class="gc4 m1 tabitem tx-c txv-c">PH</div>
  </div>
</div>
