<div id="pricing" class="gc12 grid  p6 pt2 pricing">
  <div class="gc12">
      <h2>INTERESTED?</h2><hr class="mb2">
  </div>
  <div class="gc3 grid">
    <div class="gc12 tabs current" data-tab="web">web</div>
    <div class="gc12 tabs" data-tab="logo">logos</div>
    <div class="gc12 tabs" data-tab="graphic">graphic</div>
    <div class="gc12 tabs" data-tab="other">other</div>
  </div>

  <div id="web" class="gc9 tab-content current">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat accusamus, fugit fuga laudantium consectetur nam voluptatem dolores aperiam, quisquam aliquid.</div>
  <div id="logo" class="gc9 tab-content current">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nemo. Odio, alias? Veritatis deserunt rem adipisci asperiores possimus, nisi eos.</div>
  <div id="graphic" class="gc9 tab-content current">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat obcaecati laboriosam expedita minima praesentium eligendi dicta amet assumenda odio cumque provident sed, dolorem ratione, reiciendis, molestias dolore explicabo voluptas delectus voluptatum eum nobis iste et magni. Placeat illum, eius sit similique saepe nulla iure repellat exercitationem enim eligendi. Perspiciatis, commodi.</div>
  <div id="other" class="gc9 tab-content current"></div>
</div>
