$grid-i: 12 !default;

.grid{
    display: grid;
    grid-template-columns: repeat(#{$grid-i}, 1fr);

    //grid columns
    @for $i from 2 through $grid-i{
      &.grid_c#{$i}{
        grid-template-rows: repeat(#{$i}, 1fr);
      }
    }

  //TODO: somehow do the offset
  @for $i from 1 through $grid-i - 1{
    @include breakpoint(go#{$i}c, grid-column, $i / span, $grid-i - $i + 1,'');
    @include breakpoint(go#{$i}r, grid-row, $i / span, $grid-i - $i + 1,'');
  }
  //TODO: grid elements column and rows sizing
  @include breakpoint(gc, grid-column, span, $grid-i,'');
  @include breakpoint(gr, grid-row, span, $grid-i,'');

    &.main{
      position: absolute;
      width: 100%;
      min-height: 100%;
    }

    .txt{
      display: flex;
      justify-content: center;
      align-self: center;
      margin-bottom: 1em;
    }
  }