$breakpoints: (
  def: (
    min-w: -1,
    max-w: -1,
  ),
  xs: (
    min-w: 0,
    max-w: 575.9,
  ),
  sm: (
    min-w: 576,
    max-w: 767.9,
  ),
  md: (
    min-w: 768,
    max-w: 991.9,
  ),
  lg: (
    min-w: 992,
    max-w: 1199.9,
  ),
  xl: (
    min-w: 1200,
    max-w: -1,
  ),
) !default;