:root{
    --accent-color: #ee4f44;
    --accent-color-light: #e61a0b;
    --accent-color-dark: #b41004;
    --dark-color: #212121;
    --dark-color2: #161616;
    --dark-color3: #616161;
    --light-color: #fafafa;
    --light-color2: #f5f5f5;
    --light-color3: #eeeeee;
}